.article {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 5%;
  cursor: pointer;
  flex-grow: 1;
}
.article > div {
  width: 12px;
  height: 98px;
  background-color: #C0B7B1;
  border-radius: 10px;
  margin-right: 1%;
  transition: 0.3s;
  flex-grow: 0;
}
.article h3 {
  width: 500px;
  text-align: left;
  margin-top: 0;
  flex-grow: 0;
}
.article img {
  width: 200px;
  height: 133px;
  object-fit: cover;
  margin: 0 0 0 5%;
  flex-grow: 0;
}

.article:hover > div {
  background-color: #FCFF6C;
  width: 20px;
}
