.experience {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}
.experience > section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.experience > section h2, .experience > section h3 {
  margin: 0;
}
.experience > section h3 {
  margin: 0 0 0 100px;
}
.experience .experience-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.experience .experience-achievements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0 0 0;
}
.experience .experience-achievements > div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.experience .experience-achievements > div div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #C0B7B1;
  margin: 0 5px 0 0;
}
